<section id="howmade" class="about">
  <div class="container">
    <span class="about__title">tradition and love</span>
    <h2 class="about__heading">how it’s made?</h2>
    <div class="about__content">
      <div class="about__circle">
        <div class="about__image"></div>
      </div>
      <div class="right-part">
        <p class="about-text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about-text">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about-text--last">
          This is enough to choose ice cream and
          coffee for any mood!
        </p>
        <button class="about__btn" id='read-modal-open'>
          Read more<svg class="about__icon">
            <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>



