<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually__hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item advantages-cow">
        <div class="advantages-box">
          <span class="advantages-info">721</span>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p> 
        </div>
      </li>
        <li class="advantages-item advantages-weight">
          <div  class="advantages-box">
            <span class="advantages-info">16kg</span>
            <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p> 
          </div>
        </li>
      <li class="advantages-item advantages-ice">
        <div  class="advantages-box">     
          <span class="advantages-info">84</span>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p> 
        </div>
      </li>
    </ul>
  </div>
</section>