<section class="customer-reviews">
    <div class="container">
        <h2 class="visually__hidden" id="reviews">Відгуки наших клієнтів</h2>
        <ul class="slider single-item">
            <li class="slider-item">
                <div class="slider-thumb">
                    <img srcset="
                        ./images/customer_reviews/emily_los_angeles.jpg    1x,
                        ./images/customer_reviews/emily_los_angeles@2x.jpg 2x
                        " src="./images/customer_reviews/emily_los_angeles.jpg"
                    alt="на фото гарна дівчина з довгим та кучерявим волоссям" 
                    width="85" height="85" 
                    class="slider-photo" />
                </div>
                <p class="slider-text">I love visiting your cafe. 
                    You prepare the most delicious ice cream in Los Angeles! 
                    In addition, you have beautiful serving, cozy atmosphere and polite staff.
                </p>
                <h3 class="slider-meta">
                    Emily, Los Angeles
                </h3>
            </li>
            <li class="slider-item">
               <div class="slider-thumb">
                <img srcset="
                   ./images/customer_reviews/bryan_new_york.jpg    1x,
                   ./images/customer_reviews/bryan_new_york@2x.jpg 2x
                   " src="./images/customer_reviews/bryan_new_york.jpg"
                    alt="на фото темношкірий хлопець в рожевій панамці їсть морозиво" 
                    width="85" height="85" 
                    class="slider-photo" />
               </div>
                <p class="slider-text">Every day we come to you with friends after classes in college. 
                    We love your ice cream and casual atmosphere!
                </p>
                <h3 class="slider-meta">
                    Bryan, New-York
                </h3>
            </li>
            <li class="slider-item">
                <div class="slider-thumb">
                    <img srcset="
                        ./images/customer_reviews/diana_chicago.jpg    1x,
                        ./images/customer_reviews/diana_chicago@2x.jpg 2x
                        " src="./images/customer_reviews/diana_chicago.jpg"
                        alt="на фото дівчина в окулярах позує з контейнером морозива" 
                        width="85" height="85" 
                        class="slider-photo" />
                </div>
                <p class="slider-text">Ice cream is my passion! 
                    I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!
                </p>
                <h3 class="slider-meta">
                    Diana, Chicago
                </h3>
            </li>
        </ul>
    </div>
</section>