<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__title">
        <h2>
          <span class="footer__title-first-part">homemade ice cream made</span>

          <span class="footer__title-second-part">with passion</span>
        </h2>
      </div>
      <div class="footer__social">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="https://www.github.com" class="footer__link">
              <svg
                class="footer__icon socials__icon--second-color"
                width="20"
                height="20"
              >
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>

          <li class="footer__item">
            <a
              href="https://telegram.me/"
              class="footer__link socials__link--with-bg"
            >
              <svg
                class="footer__icon socials__icon--second-color"
                width="20"
                height="20"
              >
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>

          <li class="footer__item">
            <a href="https://www.facebook.com/" class="footer__link">
              <svg
                class="footer__icon socials__icon--second-color"
                width="20"
                height="20"
              >
                <use href="./images/symbol-defs.svg#icon-fasebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__contact">
          <span class="footer__phone-text">Feel free to contact</span>
          <a href="tel:+610383766284" class="footer__phone"
            >+61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>

    <div class="footer__bottom">© 2022 - IceCream. All Rights Reserved.</div>
  </div>
</footer>
