 <section class="gallery">
    <div class="container">
        <h2 class="visually__hidden">Наша галерея</h2>
        
        <ul class="gallery-set autoplay">
          <li class="gallery-item">
            <picture class="gallery-thumb">
            <source srcset="
               ./images/gallery/brooke-lark-unsplash-desktop.jpg   1x,
               ./images/gallery/brooke-lark-unsplash-desktop@2x.jpg 2x
             " media="(min-width: 769px)" />
            <source srcset="
               ./images/gallery/brooke-lark-unsplash-tab.jpg    1x,
               ./images/gallery/brooke-lark-unsplash-tab@2x.jpg 2x
             " media="(max-width: 768px)" />
            <source srcset="
               ./images/gallery/brooke-lark-unsplash-mob.jpg    1x,
               ./images/gallery/brooke-lark-unsplash-mob@2x.jpg 2x
             " media="(max-width: 480px)" />
            <img src="./images/gallery/brooke-lark-unsplash-desktop.jpg"
              alt="на фото морозиво у вафельних стаканчиках з різними смаками" class="gallery-photo" />
            </picture>
          </li>
          <li class="gallery-item">
            <picture class="gallery-thumb">
              <source srcset="
                ./images/gallery/courtney-cook-unsplash-desktop.jpg   1x,
                ./images/gallery/courtney-cook-unsplash-desktop@2x.jpg 2x
              " media="(min-width: 769px)" />
              <source srcset="
                ./images/gallery/courtney-cook-unsplash-tab.jpg   1x,
                ./images/gallery/courtney-cook-unsplash-tab@2x.jpg 2x
              " media="(max-width: 768px)" />
              <source srcset="
                ./images/gallery/courtney-cook-unsplash-mob.jpg   1x,
                ./images/gallery/courtney-cook-unsplash-mob@2x.jpg 2x
              " media="(max-width: 480px)" />
              <img src="./images/gallery/courtney-cook-unsplash-desktop.jpg"
                alt="на фото морозиво у вафельних стаканчиках з різними смаками" class="gallery-photo" />
            </picture>
          </li>
          <li class="gallery-item">
            <picture class="gallery-thumb">
              <source srcset="
                ./images/gallery/unsplash-desktop.jpg   1x,
                ./images/gallery/unsplash-desktop@2x.jpg 2x
              " media="(min-width: 769px)" />
              <source srcset="
                ./images/gallery/unsplash-tab.jpg   1x,
                ./images/gallery/unsplash-tab@2x.jpg 2x
              " media="(max-width: 768px)" />
              <source srcset="
                ./images/gallery/unsplash-mob.jpg    1x,
                ./images/gallery/unsplash-mob@2x.jpg 2x
              " media="(max-width: 480px)" />
              <img src="./images/gallery/unsplash-desktop.jpg"
                alt="на фото морозиво у вафельних стаканчиках з різними смаками" class="gallery-photo" />
            </picture>
          </li>
        </ul>
    </div>
</section>