<section class="gallery">
  <div class="container">
      <h2 class="visually__hidden">Наша галерея</h2>
      <ul class="gallery-set autoplay">
        <li class="gallery-item">
          <picture class="gallery-thumb">
          <source srcset="
             ./images/gallery/brooke-lark-unsplash-desktop.jpg   1x,
             ./images/gallery/brooke-lark-unsplash-desktop@2x.jpg 2x
           " media="(min-width: 769px)" />
          <source srcset="
             ./images/gallery/brooke-lark-unsplash-tab.jpg    1x,
             ./images/gallery/brooke-lark-unsplash-tab@2x.jpg 2x
           " media="(max-width: 768px)" />
          <source srcset="
             ./images/gallery/brooke-lark-unsplash-mob.jpg    1x,
             ./images/gallery/brooke-lark-unsplash-mob@2x.jpg 2x
           " media="(max-width: 480px)" />
          <img src="./images/gallery/brooke-lark-unsplash-desktop.jpg"
            alt="на фото морозиво у вафельних стаканчиках з різними смаками та чорниця"
            class="gallery-photo" />
          </picture>
        </li>
        <li class="gallery-item">
          <picture class="gallery-thumb">
            <source srcset="
                        ./images/gallery/tropical-fruits-desktop.jpg   1x,
                        ./images/gallery/tropical-fruits-desktop@2x.jpg 2x
                      " media="(min-width: 769px)" />
            <source srcset="
                        ./images/gallery/tropical-fruits-tab.jpg   1x,
                        ./images/gallery/tropical-fruits-tab@2x.jpg 2x
                      " media="(max-width: 768px)" />
            <source srcset="
                        ./images/gallery/tropical-fruits-mob.jpg    1x,
                        ./images/gallery/tropical-fruits-mob@2x.jpg 2x
                      " media="(max-width: 480px)" />
            <img src="./images/gallery/tropical-fruits-desktop.jpg"
              alt="на фото морозиво у вафельних стаканчиках з різними смаками та фруктами" class="gallery-photo" />
          </picture>
        </li>
        <li class="gallery-item">
          <picture class="gallery-thumb">
            <source srcset="
              ./images/gallery/courtney-cook-unsplash-desktop.jpg   1x,
              ./images/gallery/courtney-cook-unsplash-desktop@2x.jpg 2x
            " media="(min-width: 769px)" />
            <source srcset="
              ./images/gallery/courtney-cook-unsplash-tab.jpg   1x,
              ./images/gallery/courtney-cook-unsplash-tab@2x.jpg 2x
            " media="(max-width: 768px)" />
            <source srcset="
              ./images/gallery/courtney-cook-unsplash-mob.jpg   1x,
              ./images/gallery/courtney-cook-unsplash-mob@2x.jpg 2x
            " media="(max-width: 480px)" />
            <img src="./images/gallery/courtney-cook-unsplash-desktop.jpg"
              alt="на фото морозиво у вафельних стаканчиках з різними смаками"
              class="gallery-photo" />
          </picture>
        </li>
        <li class="gallery-item">
          <picture class="gallery-thumb">
            <source srcset="
                        ./images/gallery/strawberry-ice-cream-desktop.jpg   1x,
                        ./images/gallery/strawberry-ice-cream-desktop@2x.jpg 2x
                      " media="(min-width: 769px)" />
            <source srcset="
                        ./images/gallery/strawberry-ice-cream-tab.jpg   1x,
                       ./images/gallery/strawberry-ice-cream-tab@2x.jpg 2x
                      " media="(max-width: 768px)" />
            <source srcset="
                        ./images/gallery/strawberry-ice-cream-mob.jpg    1x,
                        ./images/gallery/strawberry-ice-cream-mob@2x.jpg 2x
                      " media="(max-width: 480px)" />
            <img src="./images/gallery/strawberry-ice-cream-desktop.jpg" alt="на фото тарілка з морозивом, малиною та полуницею"
              class="gallery-photo" />
          </picture>
        </li>
        <li class="gallery-item">
          <picture class="gallery-thumb">
            <source srcset="
              ./images/gallery/unsplash-desktop.jpg   1x,
              ./images/gallery/unsplash-desktop@2x.jpg 2x
            " media="(min-width: 769px)" />
            <source srcset="
              ./images/gallery/unsplash-tab.jpg   1x,
              ./images/gallery/unsplash-tab@2x.jpg 2x
            " media="(max-width: 768px)" />
            <source srcset="
              ./images/gallery/unsplash-mob.jpg    1x,
              ./images/gallery/unsplash-mob@2x.jpg 2x
            " media="(max-width: 480px)" />
            <img src="./images/gallery/unsplash-desktop.jpg"
              alt="на фото морозиво та черешня"
              class="gallery-photo" />
          </picture>
        </li>
        <li class="gallery-item">
          <picture class="gallery-thumb">
            <source srcset="
              ./images/gallery/fruit-popsicles-desktop.jpg   1x,
              ./images/gallery/fruit-popsicles-desktop@2x.jpg 2x
            " media="(min-width: 769px)" />
            <source srcset="
              ./images/gallery/fruit-popsicles-tab.jpg   1x,
              ./images/gallery/fruit-popsicles-tab@2x.jpg 2x
            " media="(max-width: 768px)" />
            <source srcset="
              ./images/gallery/fruit-popsicles-mob.jpg    1x,
              ./images/gallery/fruit-popsicles-mob@2x.jpg 2x
            " media="(max-width: 480px)" />
            <img src="./images/gallery/fruit-popsicles-desktop.jpg"
            alt="на фото морозиво та тропічні фрукти"
              class="gallery-photo" />
          </picture>
        </li>
      </ul>
  </div>
</section>