<header class="header">
  <div class="container header-container">
    
    <a lang="en" href="./index.html" class="logo-mob">
      <img src="./images/logo-mob.png" alt="logo" width="40" height="37">
    </a> 
  
    <a lang="en" href="./index.html" class="logo-tablet">
     <img src="./images/logo-tablet.png" alt="logo" width="48" height="44">
    </a> 

    <a lang="en" href="./index.html" class="logo-desktop">
      <img src="./images/logo-desktop.png" alt="logo" width="60" height="65">
    </a> 

    <nav class="navigation">
          <ul class="page-list">
            <li class="menu-item">
              <a href="./index.html" class="menu-link menu-link-current">Home</a>
            </li>
            <li class="menu-item">
              <a href="#howmade" class="menu-link mobile-nav__link">How it’s made?</a>
            </li>
            <li class="menu-item">
              <a href="#products" class="menu-link mobile-nav__link">Our products</a>
            </li>
            <li class="menu-item">
              <a href="#contacts" class="menu-link mobile-nav__link">Contact</a>
            </li>
          </ul>
        </nav>

  <button type="button" class="mob mob-open js-open-menu mobile-menu__button"
          aria-expanded="false"
          aria-controls="container--mob">
    
          <svg class="mob-icon-open" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-mob-menu"></use>
          </svg>
  </button>

     
  <button type="button" class="buy" id='buy-modal-open'>Buy now
    <svg class="icon-buy" width="12" height="12">
        <!-- <use href="#"></use> -->
        <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
    </svg>
  </button>

  <div class="mob-menu js-menu-container" id="container--mob">
    <div class="container container--mob">

      <a lang="en" href="./index.html" class="logo-mob-menu">
        <img src="./images/logo-mob.png" alt="logo">
      </a> 

      <a lang="en" href="./index.html" class="logo-tablet-menu">
        <img src="./images/logo-tablet.png" alt="logo">
      </a> 

      <button type="button" class="mob mob-close menu-toggle js-close-menu">
        <svg class="mob__icon--close" width="19" height="19">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
  
      <div class="menu-top">

          <ul class="mob-list menu-list">
            <li class="mob-item">
              <a href="./index.html" class="mob-link mob-link--current" 
                >Home</a
              >
            </li>
            <li class="mob-item">
              <a href="#howmade" class="mob-link mobile-nav__link"
                >How it’s made?</a
              >
            </li>
            <li class="mob-item">
              <a href="#products" class="mob-link mobile-nav__link"
                >Our products</a
              >
            </li>
            <li class="mob-item">
              <a href="#contacts" class="mob-link mobile-nav__link"
                >Contact</a
              >
            </li>
          </ul>
      </div>

        <button type="button" class="buy-mob" id='buy-now-mob-modal-open'>Buy now
          <svg class="icon-buy" width="12" height="12">
              <!-- <use href="#"></use> -->
              <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </div>
    </div>

  </div>
</header>
