<section class="hero">
    <div class="hero-bg-image">
        <div class="hero-container">
            <div class="hero-flex">
                <div class="hero-flex-wrap">
                    <h1 class="hero-title">Ice cream made with <span class="hero-title-decor">passion</span></h1>
                    <ul class="hero-list">
                        <li><a href="#products" class="hero-products-link">Products</a></li>
                        <li><a href="#howmade" class="hero-recipe-link">How it’s made?</a></li>
                    </ul>
                </div>
                <ul class="institution">
                    <li class="institution-item">
                        <p class="institution-uptitle">16</p>
                        <p class="institution-subtitle">cafes</p>
                    </li>
                    <li class="institution-item">
                        <p class="institution-uptitle">23</p>
                        <p class="institution-subtitle">food trucks</p>
                    </li>
                </ul>
            </div>
            <div class="hero-example">
                <picture class="hero-example-picture">
                    <source srcset="/src/images/hero/hero-icecream1200.png 1x,
                /src/images/hero/hero-icecream1200@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="/src/images/hero/hero-icecream768.png 1x,
                /src/images/hero/hero-icecream768@2x.png 2x" media="(min-width: 768px)" />
                    <img src="/src/images/hero/hero-icecream768.png" alt="ice-cream" />
                </picture>
                <div class="hero-description-wrap">
                    <p class="hero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et</p>
                    <a href="#advantages" class="hero-arrow-link">
                        <svg class="hero-icon" width="40" height="16">
                            <use href="/src/images/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <picture class="hero-main-picture">
                <source srcset="/src/images/hero/hero1200.png 1x,
                        /src/images/hero/hero1200@2x.png 2x" media="(min-width: 1200px)" />
                <source srcset="/src/images/hero/hero768.png 1x,
                        /src/images/hero/hero768@2x.png 2x" media="(min-width: 768px)" />
                <source srcset="/src/images/hero/hero480.png 1x,
                        /src/images/hero/hero480@2x.png 2x" media="(max-width: 768px)" />
                <img src="/src/images/hero/hero480.png" alt="ice-cream" />
            </picture>
        </div>
    </div>
</section>