<section id="products" class="products">
    <div class="container container-products">
    <p class="products-label">100% natural</p>
    <h2 class="products-title">PRODUCTS</h2>
    <ul class="products-card"> 
        <li class="products-card__ice-cream products-item"> 
        <span class="products-circle__ice-cream"></span> 
        <div class="ice-cream">
        <h3 class="products-name">ice cream</h3> 
        <p class="products-feature">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer 
</p> 
        </div>
<div class="products-arrow"> 
        <button class="products-card-btn" type="button" id='ice-modal-open'><svg class="products-icon"  width="40" height="16"><use href="../src/images/symbol-defs.svg#icon-arrow"></use></svg></button>
</div> 
</li> 
        <li class="products-card__ice-coffee products-item"> 
        <span class="products-circle__ice-coffee"></span> 
        <div class="ice-coffee">
        <h3 class="products-name">ice coffee</h3> 
        <p class="products-feature">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers 
</p> 
</div>
<div class="products-arrow"> 
         <button class="products-card-btn" type="button" id='icecoffe-modal-open'><svg class="products-icon"  width="40" height="16"><use href="../src/images/symbol-defs.svg#icon-arrow"></use></svg></button> 
</div> 
</li> 
        <li class="products-card__milkshakes products-item"> 
        <span class="products-circle__milkshakes"></span> 
        <div class="milkshakes">
        <h3 class="products-name">milkshakes</h3> 
        <p class="products-feature">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice 
</p> 
</div>
<div class="products-arrow"> 
         <button class="products-card-btn" type="button" id='milkshake-modal-open'><svg class="products-icon"  width="40" height="16"><use href="../src/images/symbol-defs.svg#icon-arrow"></use></svg></button> 
</div> 
</li> 
    </ul> 
</div>
</section>


