
<div class="backdrop is-hidden" id='read-modal'>
    <div class="read-modal">
    <button type="button" class="read-modal__close" id='read-modal-close'>
    <svg class="read-modal__close-icon" width="13" height="13">
        <use href="./images/symbol-defs.svg#icon-close"></use>
    </svg>
    </button>
    <p class="read-modal__title">How it’s made?</p>
<iframe class="read-modal__video" src="https://www.youtube.com/embed/3YuOs4zAFIQ"
           
    title="Free Stock Videos - Ice-Cream (No Copyright Videos)" ></iframe>
    <p class="read-modal__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor
    sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
</div>